$color-primero: rgb(2, 4, 7);
$color-secundario: rgba(8, 7, 7, 0.096);
$color-terciario: rgba(0, 0, 0, 0.685);
$color-titulo: rgba(10, 84, 145, 0.856);
$color-quinto:  aliceblue;


$flex: flex;
$center: center;
$space-between: space-between;
$row: row;
$flex-direction: column;
$flex-direction: center;