@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Average:400');
@import url('https://fonts.googleapis.com/css?family=Quattrocento:400');
*{
    margin: 0px;
    padding: 0px;
}
.Container_Grid{
    display: grid;
    background-color: rgba(255, 255, 255, 0.979);
    grid-template-areas: "header"
                         "div"
                         "main"
                         "footer";                   
    grid-template-rows: auto auto auto auto;
}
header{
    grid-area: header;
}
div{
    grid-area: div; 
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
.NumeroTel{
    color: rgb(0, 0, 87);
}
/* DENTRO DEL HEADER */
header section{
    display: flex;
    justify-content: space-between;
}
.header__section__div__nav{
    background-image:url(./IMAGES/Entrada\ Complejo.jpg);
    height: 600px;
    margin-top:0px;
}
.logo1 {
    max-width: 80%;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    }
.lista__navegacion{
    background-color: rgba(28, 51, 51, 0.445);
    margin-bottom: 50px;
    margin-top: 25px;
    list-style-type: none;
    font-size: 1.05rem;
    position: sticky;
    top: 0px;
    z-index: 10;
}
.FuenteNav{
    color: rgb(236, 236, 236) !important;
    background-color: rgba(0, 0, 0, 0.562);
    height: 10%;
    margin-top: 1rem;
    position: sticky;
    z-index: 20;
}
.ListaNav{
    list-style-type: none;
    color: aliceblue !important ;
    display: flex;
}
.nav-link{
    text-decoration: none;
    color: aliceblue !important;
}
a{
    color: aliceblue;
    margin: 1rem;
    padding: 1rem;
    width: 30%;
}
h1{
    font-family: 'Average', serif;
    text-align: center;
    background-color: rgba(10, 84, 145, 0.856);
    margin: 0px;
    padding: 0px;
}
/* FIN DEL HEADER */
/* DESPUES DEL HEADER */
.encabezado{
    background-image: url(./IMAGES/Banner.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 1rem;
    padding: 2rem;
}
.encabezado__h2{
    margin: 1rem;
    padding: 2rem;
    color: rgb(2, 4, 7);
}
.subtitulo{
    text-align: center;
    font-size: 1.2rem;
    margin: 30px;
    padding: 10px;
    font-style: italic;
    color: rgb(2, 4, 7);
}
p span{
    font-weight: bold;
}
/* DENTRO DEL MAIN HOME*/
.SuitesyMontaña{
    margin: 40px;
    padding: 30px;
    font-family: 'Average', serif;
    font-size: 1.8rem;
}
.TituloFondo{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgba(8, 7, 7, 0.096);
    font-size: 6rem;
    margin-top: 50px;
    position: sticky;
    top: 20px;
    z-index: 10;
}
.main{
    text-align: center;
}
.parrafo1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin: 3rem
}
.Clima{
    margin: 8rem;
    display: flex;
    justify-content: center;
}
/* FIN MAIN HOME */
/* FIN PAGINA HOME */
.HeaderGaleria{
    object-fit: cover;
    background-image: url(./IMAGES/Recortadapool.jpg)
}

/* DENTRO DE LA PAGINA CONTACTO */
.HeaderContacto{
    object-fit: cover;
    background-image: url(./IMAGES/MG_8635ff.jpg);
}
.contacto{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 250px;
    padding: 3rem
}
.ClaseContacto{
    margin-top: 3rem;
}
.embed-container{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* FIN PAGINA CONTACTO */
/* DENTRO DE LA PAGINA SERVICIOS */
.HeaderServicios{
    object-fit: cover;
    background-image: url(./IMAGES/Recortada2.jpg)
}
.MainServicio{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem; 
}
.EmojiServicios{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    gap: 4rem;
}
.ParrafoServicios{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    margin: 8rem;    
}
.Servicios3{
    font-size: 2.3rem;
    font-family:'Times New Roman', Times, serif;
    margin: 2.5rem;
    padding: 1rem;
}
.DescripcionServi{
    margin: 20px;
    font-size:1.3rem ;
    padding: 1rem;
    font-family: sans-serif;
}
.TituloPaseo{
    font-size: 2.3rem;
    font-family: 'Times New Roman', Times, serif;
    margin: 2rem;
    padding: 1rem;
}
.ParrafoPaseo{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.685);
}
.Paseos{
    list-style-type: none;
    text-align: center;
    align-items: center;
    margin: 1.5rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-family: sans-serif;
}
/* FIN PAINA DE SERVICIOS */
    /* DENTRO DE PAGINA SUITES */
    .HeaderSuite{
        object-fit: cover;
        background-image: url(./IMAGES/RECORTADA.jpg);
        margin-top: 0px;
    }
    .ParrafoDeSuite{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:5rem;
        padding: 1rem;
    }
    .ImagenSuite{
        transition: all .2s ease-in-out;
        width: 250px;
        margin: 1.5rem;
        display: grid;
        justify-content: space-between;
    }
    .ImagenSuite:hover{
        transform: scale(1.1);
    }
    .SuiteFemmes{
        margin-left: 6rem;
        margin: 0 auto;
        margin-top: 1.5rem;
        flex-wrap: wrap;
    }
    .SuiteEstrella{
        margin-left: 6rem;
        margin: 0 auto ;
        flex-wrap: wrap;
    }
    .SuiteOliva{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .FuenteSuite{
        font-size: 1.7rem;
        font-family: 'Average', serif;
        margin-bottom: 2rem;
    }
    .FuenteCarac{
        font-family: 'Average', serif;
        display: inline-block ;
        justify-content: center;
        align-items: center;
    }
    .FuenteCarac--otroitem{
        margin-left: 7rem;
        margin: 0 auto;
        display: inline-block ;
        justify-content: center;
        align-items: center;
        font-family: 'Average', serif;
    }
    .MarginSuite{
        margin-top: 7rem;
    }
    .MarginSuite--otromargen{
        margin-top: 7rem;
    }
    /* FIN PAGINA SUITE */
    @media screen and (max-width: 767px){
        .Container_Grid{
                height: auto;
                grid-template-areas: "header"
                "nav"
                "div"
                "main"
                "footer";
                grid-template-columns: 100%;
                grid-template-rows: auto;  
        }
        .TituloFondo{
                text-align: center;
                font-size: 3rem;
        }
        .Clima{
                display: none;
        }
        .header__section__div__nav{
                background-image: none;
                height: 100%;
        }
        .logo1{
                margin: 0 auto;
                max-width: 100%; 
                align-items: center;
            }
        /* .lista__navegacion{
            padding: 1rem;
                display: flex;
                flex-direction: column;
                text-align: center; 
            } */
        .mediaquery{ 
                display: flex;
                flex-direction: column;
               margin-bottom: 3rem;
                text-align: center;
                align-items: center;
            }   
            .HeaderSuite{
                background-image: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }   
            .ParrafoDeSuite{
                font-size: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top:2.5rem;
                padding: 0.5rem;
            }
            .MarginSuite{
                display: flex ;
                flex-direction: column;
                justify-content: center;
                align-items:center ;
                text-align: center;
            } 
            .MarginSuite--otromargen{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; 
                text-align: center; 
            }
            .FuenteCarac{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .FuenteCarac--otroitem{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .HeaderGaleria{
                background-image: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .navbar{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .nav-link{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .ListaNav{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .navbar-expand-lg{
                margin-bottom: 1rem;
            }   
            .HeaderContacto{
                background-image: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .HeaderServicios{
                background-image: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .EmojiServicios{
                gap: 0.3rem;
                align-items: center;
                height: 20%;
            }
            .TituloPaseo{
                font-size: 2rem;
                font-family: 'Times New Roman', Times, serif;
                margin: 1rem;
                padding: 0.5rem;
                text-align: center;
            }
            .ParrafoPaseo{
                font-size: 1rem;
                color: rgba(0, 0, 0, 0.685);
                text-align: center;
            }
            .ParrafoServicios{
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size: 1rem;
                margin: 0 auto; 
                text-align: center;   
            }
            .Servicios3{
                font-size: 1.8rem;
                font-family:'Times New Roman', Times, serif;
                margin: 2rem;
                padding: 0.5rem;
            }
            .DescripcionServi{
                margin: 0 auto;
                font-size:1.2rem ;
                padding: 1rem;
                font-family: sans-serif;
                text-align: center;
            }
            .Paseos{
                list-style-type: none;
                text-align: center;
                align-items: center;
                margin: 0 auto;
                padding: 0 auto;
                font-size: 1.2rem;
                font-family: sans-serif;
            }
            } 
    
    @media screen and (min-width: 768px) and (max-width:1024px) {
        .Container_Grid{
                height: auto;
                grid-template-areas: "header"
                "div"
                "main"
                "footer";
                grid-template-columns: 100%;
                grid-template-rows: auto;  
        }
        .header__section__div__nav{
            background-image: 40%;
        }
        .Clima{
            display: none;
        }}